/* 顶部 */
.header{
    width: 100%;
    height: 35px;
    background: #eee;
    min-width: 1200px;
}
.header-center{
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;

}
.head-left{
    float: left;
    
}
.head-left ul{
    margin-left: 50px;

}
.head-left li{
    float: left;
    margin: 10px 0;
    padding: 0 10px;
    line-height: 14px;
    text-align: center;
    
}
.head-left li a{
    color:  #cc0000;
}
.head-right{
    float: right;
}
.head-right li{
    float: left;
    margin: 10px 0;
    padding: 0 20px;
    line-height: 14px;
    text-align: center;
    border-right: 1px solid #999;
}
.head-right li a {
    color:#747474;
}
.header-center .you{
    border-left: 1px solid #999;
}





/* 搜索栏 */
body{
    background: #f5f5f5;
}

.search{
    width: 100%;
}
.search-center{
    width: 1200px;
    margin: 0 auto;
    height: 110px;
    overflow: hidden;
}
.sc-gif{
    float: left;
    padding: 15px;
    cursor: pointer;
    display: block;
}
.sc-gif img{
    height:80px;
    width: 160px;
}

.welcome{
    display: flex;
    color: #999;
    align-items: center;
    line-height: 30px;
    font-size: 30px;
    border-left: 2px solid #999;
    margin-top: 40px;
}
.welcome span{
    margin-left: 20px;
}
.welcome .iconfont{
    color: red;
    font-size: 50px;
}


/* 搜索栏 */
.search-center{
    width: 1200px;
    margin: 0 auto;
    height: 110px;
}
.sc-gif{
    float: left;
    padding: 15px;
}
.sc-gif img{
    height:80px;
    width: 160px;
}
.sc-search{
    float: left;
    width: 524px;
    margin-left: 28px;
}
.sc-search-top{
    border: 1px solid #cc0000;
    border-radius: 20px;
    height: 38px;
    width: 524px;
    line-height: 36px;
    margin-top: 25px;
}
.sc-search-left{
    float: left;
    width: 80px;
    text-align: center;
    border-right: 1px solid #999;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
}
.sc-search-left span{
    font-size: 12px;
    margin-left: 5px;
    color: #999;
    
}
.sc-search-mid{
    float: left;
}
.sc-search-mid input{
    background-color: rgba(0, 0, 0, 0);
    width: 380px;
    /* height: 38px;
    line-height: 38px; */
    
    border: none;
    color: #323232;
    padding: 9px 0 0 20px;
}
.sc-search-right{
    float: right;
    background: #cc0000;
    border-radius: 20px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}
.sc-search-right span{
    color: white;
    font-weight: bold;
}

.sc-search-bottom{
    width: 524px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
}
.sc-search-bottom ul{
    display: flex;
    justify-content: space-between;
}
.sc-search-bottom li{
    float: left;
}
.sc-search-bottom a{
    color: #999;
}

/* 搜索框右边 */
.sc-right-img{
    /* width: 180px; */
    height: 65px;
    padding: 25px 0 0 50px;
    float: left;
}
.sc-right-img img{
    height: 40px;
    width: 150px;
}

/* 购物车按钮 */
.sc-cart{
    float: left;
    height: 40px;
    line-height: 40px;
    width: 130px;
    border: 1px solid #999;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    margin: 25px 0 0 25px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sc-cart img{
    width: 25px;
    height: 25px;
    display: inline;
    margin-right: 10px;
}


/* 导航栏 */
.banner{
    width: 100%;
    
}
.banner-center{
    width: 1200px;
    margin: 0 auto;
    
}
.banner-center-top a{
    color:black;
}
.banner-center-top{
    width: 1000px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;

}
.banner-center-top li{
    float: left;
    padding: 0 15px;
}
.banner-center-top .all-select{
    width: 174px;
    /* padding-left:  32px; */
    background: #cc0000;
    text-align: center;
}
.banner-center-top .all-select a{
    color: white;
    font-size: 13px;
}



/* 商品内容 */
.goods-info{
    width: 1198px;
    border: 1px solid #ddd;
    padding: 20px;
    margin:0 auto;
    overflow: hidden;
}
.goods-info .p1{
    font-size: 18px;
    font-weight: bold;
}
.goods-info .imgs{
    width: 400px;
    margin-right:30px;
    float: left;
}
.goods-info .big-img{
    float: left;
    width: 400px;
    height: 400px;
    position: relative;
    
}
.goods-info .img-mask{
    width: 200px;
    height: 200px;
    background: black;
    display: none;
    opacity: 0.3;
    position: absolute;
    
}
.goods-info .img-fangda{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 420px;
    top: 0;
    display: none;
}
.goods-info .img-fangda img{
    position: absolute;
}
.goods-info .small-img{
    width: 400px;
}

.goods-info .small-img ul{
    width: 360px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
}


.goods-word{
    float: left;
    width: 450px;
}
.goods-word ul{
    margin: 10px;
}
.goods-word li{
    float: left;
}
.goods-word .l1{
    width: 100px;
    text-align: right;
    margin-right: 20px;
}
.goods-word .add{
    width: 150px;
    height: 38px;
    line-height: 38px;
    background:#cc0000;
    border: none;
    color: white;
    text-align: center;
    float: left;
    margin-top: 50px;
    margin-right:30px;
    cursor: pointer;
}
.goods-word .buy{
    width: 150px;
    height: 38px;
    line-height: 38px;
    background:pink;
    border:1px solid #cc0000;
    color: #cc0000;
    text-align: center;
    float: left;
    margin-top: 50px;
    cursor: pointer;
}
.goods-word .num{
    width: 30px;
    height: 30px;
}




.footer-img{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: white;
}
.goods-title{
    float: left;
}
.goods-title ul{
    width: 208px;
    min-height: 600px;
    border: 1px solid #ddd;
}
.goods-title li{
    text-indent: 40px;
    font-size: 13px;
    height: 37px;  
    line-height: 37px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    color:#999;
}
.goods-title .all{
    background: #f0f0f0;
    font-weight: bold;
    text-indent: 15px;
    font-size: 15px;
    color:#666;
}
.goods-title .little{
    background: #f9f9f9;
    font-weight: bold;
    text-indent: 25px;
    font-size: 15px;
    color:#666;
}
.goods-title .little span{
    float: right;
    margin-right: 5px;
}
.goods-title .ll2{
    border: none;
}
.goods-title .you{
    border-bottom: 1px solid #ddd;
}

.img-right-foot{
    margin-left: 30px;
    float: left;
}







/* 底部 */
.footer{
    width: 100%;
}
.footer-center{
    width: 1200px;
    border-top: 1px solid #ddd;
    margin: 0 auto;
    background: white;
    height: 400px;
    padding: 100px 80px 0px;
}
.footer-center ul{
    width: 190px;
    float: left;

}
.footer-center li{
    font-size: 12px;
    color: #999;
    line-height: 30px;
}
.footer-center .first{
    font-size: 18px;
    color: black;
}

.footer-center img{
    margin-top: 60px;
}